body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: black;
  }

.jumbotron {
    background-image: url("../image/img.jpeg");
    background-size: 100% 100%;
    opacity: 0.7;
    text-align: center;
}

.well {
    background-color: rgba(176, 196, 222, 0.554);
    font-family: Verdana, sans-serif;
}